<div class="panel-body" align="center" style="width:80%">
	<div class="panel panel-default">
 	<div class="panel-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <b>Login</b></div>
		<div class="panel-body">

			<form action="login">       
			    <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
			    <span style="display:none;" class="noticeip label label-danger">Danger Label</span>
				  <hr class="colorgraph"><br>
				  
				  <div class="input-group">
					  <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-envelope"></span></span>
					  <input type="text" name="username" class="form-control" placeholder="Username/Email" aria-describedby="sizing-addon2">
				  </div>
				  <br>
				  <div class="input-group">
					  <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-question-sign"></span></span>
					  <input type="password" name="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon2">
				  </div>     

				  <br>
				  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>  			
			</form>			

	  </div>
	</div>
</div>
	
